body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.button {
    width: max-content;
}

.App {
    font-family: sans-serif;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    padding: 100px 16px;
    background-color: #ddd;
    min-height: 100%;
    height: 100%;
}

#canvas {
    border: 2px solid #777;
    z-index: 2;
}

.lower-canvas {
    position: initial !important;
}

.Toolbar {
    display: flex;
    flex-direction: column;
    gap: 8px;
    background-color: #354575;
    padding: 8px 8px;
    border-radius: 4px;
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    left: 16px;
    &:empty {
        display: none;
    }
}
