body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.button {
    width: max-content;
}

.App {
    font-family: sans-serif;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    padding: 100px 16px;
    background-color: #ddd;
    min-height: 100%;
    height: 100%;
}

#canvas {
    border: 2px solid #777;
    z-index: 2;
}

.lower-canvas {
    position: initial !important;
}

.Toolbar {
    display: flex;
    flex-direction: column;
    gap: 8px;
    background-color: #354575;
    padding: 8px 8px;
    border-radius: 4px;
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    left: 16px;
    &:empty {
        display: none;
    }
}

.ToolbarBottom {
    display: flex;
    flex-direction: row;
    gap: 8px;
    background-color: #354575;
    padding: 8px 8px;
    border-radius: 4px;
    position: fixed;
    top: 50vh;
    transform: translateY(-50%) translateX(-50%);
    left: 50vw;
    &:empty {
        display: none;
    }
}

.Settings {
    position: fixed;
    top: 50%;
    right: 16px;
    transform: translateY(-50%);
    gap: 8px;
    display: flex;
    flex-direction: column;
    background-color: #354575;
    padding: 24px 8px;
    border-radius: 4px;
    text-align: left;
    &:empty {
        padding: 0;
    }

    div {
        display: flex;
        flex-direction: column;
        gap: 2px;
        margin: 8px;

        label {
            color: #fff;
        }
    }
}
